# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP app to Azure Web App - myazurewebapp4000

on:
  push:
    branches:
      - main
  workflow_dispatch:
env:
  AZURE_WEBAPP_NAME: 'myazurewebapp4000'
  AZURE_WEBAPP_PACKAGE_PATH: 'publish'     # output folder
  DOTNET_VERSION: '8.0.x'                  # adjust to your SDK

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./learningapp.csproj -c Release -o "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}"

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: ASP-app
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/
          if-no-files-found: error
      
  deploy:
    runs-on: windows-latest
    needs: build
    
    steps:
       - name: Download artifact from build job
         uses: actions/download-artifact@v4
         with:
            name: ASP-app
            path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

       - name: Deploy to Azure Web App
         uses: azure/webapps-deploy@v3
         with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          slot-name: 'Production'
          package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_3E03A80B0199474790C8372C60482B63}}

